{% extends 'base.html' %}

{% block content %}
  <div class="container">
    
    <br>
    <br>
    
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <ul>
        
            <p>Connectr is India’s Tinder for business meetings. Connectr started
            by offering like minded professional the opportunity to meet other professionals
            closeby, curated by preference and professional goals. Your Linkedin and
            Facebook profiles help us identify the best fit for you and match you with
            professionals in your area</p>
            <p>The search is real time and allows you to plan instantly. Want to go out for
            drink with a VC visiting the area, just press "Connect for Beers" ! Want to find
            an apt co-founder for your startup, press "Meet a co-founder"</p>
			<p>We strive to maintain an open culture where everyone is a hands-on contributor
            and feels comfortable sharing ideas and opinions. Our team spends hours designing
            each new feature and obsesses about the smallest of details.</p>
  
    </ul>
        
    </div>
    <div class="col-md-5">
        <ul>
      
        <p>Logos
        </p>
        <form action="#">
          <button type="button" class="btn btn-secondary mt10">Download Logos</button>
          <br>
        </form>
        <p></p>
        <p class="mb10">Come on over, We’re at<br><span class="F16 black x-bold">880 Udyog Vihar - 5<br>Gurgaon<br>122002</span></p>
        <p>        <iframe style="border: 0; margin: 0; width: 400px; height: 280px;" src="https://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&amp;latlng=28.5038795%2C77.0863297&amp;mlatlng=28.5038795%2C77.0863297&amp;maddress1=Sector%205&amp;maddress2=GURGAON%2C%20Haryana%2C%20India&amp;mtitle=Connectr%20HQ&amp;element=true" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" height="240" width="320"></iframe></p>

    </ul>
    </div>
    <div class="col-md-1">
    </div>
  </div>

{% endblock %}